{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-medium">
        Your child is not eligible for Registered Traveller
      </h1>

    <p>They can still <a href="https://www.gov.uk/browse/visas-immigration">enter the UK in the normal way</a>.</p>

    <a href="http://www.gov.uk" class="button" role="button">Exit to GOV.UK </a>

    </div>
  </div>
</main>

{% endblock %}
