<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Registered Traveller: Apply to add your children to your membership</title>
  </head>

  <body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
          <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
              <td width="100%" bgcolor="#0b0c0c" valign="middle">
                <a href="/"><img src="https://www.electronic-visa-waiver.service.gov.uk/assets/images/emails/govuk_logotype_email.png" alt="GOV.UK" border="0"></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
      <tr>
        <td width="100%">
          <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
              <td width="100%" class="header" style="padding-top: 10px;" colspan="2">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                  <tr>
                    <td width="6" style="border-left: 2px solid #934c9d;"><img src="https://www.electronic-visa-waiver.service.gov.uk/assets/images/emails/spacer.gif" alt="" width="6px" height="26px" style="display: block;" /></td>
                    <td width="14"><img src="https://www.electronic-visa-waiver.service.gov.uk/assets/images/emails/crown.png" alt="Home Office Logo" style="width: 14px; height: 25px; display:block;"/></td>
                    <td width="7"><img src="https://www.electronic-visa-waiver.service.gov.uk/assets/images/emails/spacer.gif" alt="" width="7px" height="26px" style="display: block;" /></td>
                    <td style="font-family: Helvetica, Arial, sans-serif;">
                        <h2 class="organisation-logo" style="font-size: 18px; line-height: 20px; font-weight: 300; margin: 0"><span>Border Force</span></h2>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="font-family: Helvetica, Arial, sans-serif;"><h1 class="email" style="font-weight: 700; font-size: 36px; line-height: 1.041666667; margin: 30px 0;">Registered Traveller: Apply to add your children to your membership</h1></td>
            </tr>
            <tr>
              <td style="font-family: Helvetica, Arial, sans-serif;">
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">Dear Harry Johnson</p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;"><strong>Registered Traveller number: RTAMPTHPG</strong></p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">As a member who has recently renewed you can now apply to add your children to your Registered Traveller membership.  </p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">This is a new service and you can apply with this email invitation before it's available on the <a href="https://www.gov.uk">GOV.UK</a> website. </p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">The link to apply will only work with your Registered Traveller number. </p>
                <h2 style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">How Registered Traveller child membership works  </h2>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">Children must travel with the parent that applied for them to use the service. </p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">When you travel together, you and your children:  </p>
                <ul style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;"><li>can use the UK and EEA passport lanes</li><li>don't have to fill in a landing card</li></ul>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">You won't be able to use the ePassport gates when you travel with your children.</p>
                <h2 style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">Eligibility</h2>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">Your child must:</p>
                <ul style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">
                  <li>be aged 17 or under</li>
                  <li>have a visa, entry clearance or have visited the UK at least 4 times in the last 24 months</li>
                  <li>have an eligible passport</li>
                </ul>
                <h2 style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">Fee</h2>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">For each child there is an administration fee of £20, plus £2 per month until the date your membership expires. A child membership will always expire when your membership does.</p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">After you log in and have entered your child's date of birth, the application will tell you how much you need to pay.</p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">You will get the membership fee back if your application is unsuccessful. You will not get the £20 administration fee back.</p>
                <h2 style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">How to apply</h2>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">You have to make a separate application and payment for each of your children.</p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">To apply you will need:</p>
                <ul style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">
                  <li>your child's passport</li>
                  <li>a valid visa, residents permit or reason for travel for your child</li>
                </ul>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">You’ll get a decision on your child's application within 10 working days.</p>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">If accepted, the first time you all travel to the UK you must:</p>
                <ul style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">
                  <li>go through the ‘other passports’ lane with your child</li>
                  <li>fill in a landing card for them</li>
                </ul>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">The immigration officer will then confirm if they have been added to your membership and you'll get a confirmation email within 48 hours.</p>
              </td>
              </tr>
              <tr>
                <td style="font-family: Helvetica, Arial, sans-serif;" bgcolor="#028136" align="center">
                   <p style="font-size: 19px; line-height: 2; margin: 5px 0 10px 0; color: #fff"><a href="sign-in" style="font-size: 19px; line-height: 2; margin: 15px 0 20px 0; color: #fff; text-decoration: none; display: block;"><strong>Apply to add a child</strong></a></p></td>
              </tr>
              <tr>
              <td height="3" bgcolor="#003416"><img src="https://www.electronic-visa-waiver.service.gov.uk/assets/images/emails/spacer.gif" alt="" width="6px" height="3px" style="display: block;" /></td>
            </tr>
            </tr>
            <tr>
              <td>
                <h2 style="font-size: 19px; line-height: 1.3; margin: 40px 0 30px 0;">Feedback</h2>
                <p style="font-size: 19px; line-height: 1.3; margin: 0 0 30px 0;">This is a new service – your feedback to <a href="mailto:RTinbox@homeoffice.gsi.gov.uk">RTinbox@homeoffice.gsi.gov.uk</a> will help us improve it.</p></td>
            </tr>


              <tr>
                <td><p style="font-size: 14px; line-height: 1.3; margin: 40px 0 30px 0;">This email and any attachments transmitted with it are intended for the named
recipient only. If you receive this email in error please notify us immediately
and then delete the email and any attachments. It is the responsibility of the
recipient to check for the presence of viruses before opening any attachments.</p></td>
              </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
