{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-medium">
        Background checks
      </h1>

      <form action="/kids4/kids-restrictions-page" method="get" class="form">

    <div class="form-group">

    <p class="bold">Has your child ever been refused entry to the UK or had restrictions put on their entry?</p>


    <div class="multiple-choice">
      <input id="Yes" type="radio" name="restrictions" value="Yes" {{ checked('restrictions','Yes') }}>
      <label for="Yes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="No" type="radio" name="restrictions" value="No" {{ checked('restrictions','No') }}>
      <label for="No">No</label>
    </div>
  
</div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
