{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <form action="passport-othername" method="post" class="form">

    <!--  <form action="/inputname" method="get" class="form" name="test-form"> -->
      <h1 class="heading-medium">
        What is your child’s full name as written in their passport?
      </h1>
        <div class="form-group">
            <label class="form-label-bold" for="givennames">First and middle names</label>
            <input type="text" autocomplete="off" class="form-control" id="givennames" name="givennames" value="{{givennames}}">
        </div>
        <div class="form-group">
            <label class="form-label-bold" for="surname">Last or family name</label>
            <input type="text" autocomplete="off" class="form-control" id="surname" name="surname" value="{{surname}}">
        </div>


        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

    </div>
  </div>
</main>

{% endblock %}
