{% extends "layout.html" %}

{% block page_title %}
  Card selection
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <form action="/make-payment" method="post" class="form">

                  <h1 class="heading-medium" data-lang="eng">Select your credit or debit payment method</h1>
                  <div class="form-group">
                      <fieldset id="card">
  												<div class="split-width clearfix">
                          <p data-lang="eng">Charge: £28</p>

  											</div>

                        <div class="multiple-choice">
                          <input id="visa" type="radio" name="card" value="visa">
                          <label for="visa">VISA</label>
                          <span class="card visa"></span>
                        </div>

                        <div class="multiple-choice">
                          <input id="master" type="radio" name="card" value="master">
                          <label for="master">Mastercard</label>
                          <span class="card mastercard"></span>
                        </div>

                        <div class="multiple-choice">
                          <input id="maestro" type="radio" name="card" value="maestro">
                          <label for="maestro">Maestro</label>
                          <span class="card maestro"></span>
                        </div>

                        <div class="multiple-choice">
                          <input id="japan" type="radio" name="card" value="japan">
                          <label for="japan">Japanese Credit Bank</label>
                          <span class="card japan"></span>
                        </div>

                        <div class="multiple-choice">
                          <input id="amex" type="radio" name="card" value="amex">
                          <label for="amex">American Express</label>
                          <span class="card amex"></span>
                        </div>

                      </fieldset>
                    </div>
                    <div class="form-group">
                  <div class="panel panel-border-wide" data-lang="eng"><p>After you've paid on WorldPay we will confirm receipt of your application and payment. You cannot amend this application after you have paid.</p></div>
  							</div>
                  <!-- Submit -->

  								<div class="form-group">
  									<a class="button" href="payment" id="continuebutton">Continue to payment</a>
  								</div>

  								</div>
              </form>
</div>
</div>
</main>

{% endblock %}
