{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-medium">
        Which of these visas or residents permits do they have?
      </h1>

      <form action="/kids/resident-gotvisa-yes" method="get" class="form">
        <div class="form-group">
          <fieldset>

            <label for="deptier124" class="block-label">
              <input id="deptier124" type="radio" name="residentgotvisayes" value="deptier124">
            Dependant of Tier 1, 2 or 4
            </label>

            <label for="deptier5" class="block-label">
              <input id="deptier5" type="radio" name="residentgotvisayes" value="deptier5">
              Dependant of Tier 5
            </label>


            <label for="ancestry" class="block-label">
              <input id="ancestry" type="radio" name="residentgotvisayes" value="ancestry">
              Dependant of UK Ancestry
            </label>

            <label for="othervisa" class="block-label">
              <input id="othervisa" type="radio" name="residentgotvisayes" value="othervisa">
              Other visa
            </label>

          </fieldset>
        </div>
        <div class="form-group">
          <a class="button" href="kidsconvictions">Continue</a>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
