{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-medium">
        Which of these do they have?
      </h1>

      <form action="/kids3residentnoreason" method="get" class="form">
        <div class="form-group">
          <fieldset>

            <label for="ilr" class="block-label">
              <input id="ilr" type="radio" name="residentgotvisano" value="ilr">
              Indefinite leave to remain
            </label>

            <label for="naturalisation" class="block-label">
              <input id="naturalisation" type="radio" name="residentgotvisano" value="naturalisation">
              Naturalisation
            </label>

            <label for="roa" class="block-label">
              <input id="roa" type="radio" name="residentgotvisano" value="roa">
              Right of abode
            </label>

            <label for="eea" class="block-label">
              <input id="eea" type="radio" name="residentgotvisano" value="eea">
              EEA indefinite leave
            </label>

            <label for="noneofthese" class="block-label">
              <input id="noneofthese" type="radio" name="residentgotvisano" value="noneofthese">
              None of these
            </label>

          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
