{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-medium">
        Why is your child coming to the UK with you?
      </h1>

      <form action="/kids4reason" method="get" class="form">
        <div class="form-group">
          <fieldset>

            <div class="multiple-choice">
              <input id="kids3tourism" type="radio" name="kidswhy" value="Tourism (including visiting family or friends)" {{ checked('kids3tourism','Tourism (including visiting family or friends)') }}>
              <label for="kids3tourism">Tourism (including visiting family or friends)</label>
            </div>

            <div class="multiple-choice">
              <input id="kids3resident" type="radio" name="kidswhy" value="They are a resident in the UK" {{ checked('kidswhy','They are a resident in the UK') }}>
              <label for="kids3resident">They are a resident in the UK</label>
            </div>

            <div class="multiple-choice">
              <input id="kids3study" type="radio" name="kidswhy" value="To study" {{ checked('kidswhy','To study') }}>
              <label for="kids3study">To study</label>
            </div>

            <div class="multiple-choice">
              <input id="kids3transit" type="radio" name="kidswhy" value="Passing through the UK (in transit)" {{ checked('kidswhy','Passing through the UK (in transit)') }}>
              <label for="kids3transit">Passing through the UK (in transit)</label>
            </div>

            <div class="multiple-choice">
              <input id="kids3diplomatic" type="radio" name="kidswhy" value="As a member of a diplomatic household" {{ checked('kidswhy','As a member of a diplomatic household') }}>
              <label for="kids3diplomatic">As a member of a diplomatic household</label>
            </div>

            <div class="multiple-choice">
              <input id="kids3medical" type="radio" name="kidswhy" value="For private medical treatment" {{ checked('kidswhy','For private medical treatment') }}>
              <label for="kids3medical">For private medical treatment</label>
            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
