{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application submitted</h1>
        <p>
          Your application reference is <br>
          <strong class="heading-large">JV5E2JNJ</strong>
        </p>
      </div>
      <p>We have received your payment of £20 for updating your passport. We have sent a confirmation email to <a href="mailto:">{{ data['email-check'] }}</a>.</p>
  			<p>Please add <a href="mailto:">RTinbox@homeoffice.gsi.gov.uk</a> to your contacts or safe senders list. Otherwise, our emails may go into your junk or spam folder.</p>

  		<h2 class="bold-small">What happens next?</h2>

  		<p>We’ll carry out background checks to see if you’re still eligible for Registered Traveller.</p>

  		<p>We’ll email you within 10 working days to let you know whether your application has been successful.</p>

      <p><a href="#">What do you think of this service?</a></p>

    </div>
  </div>
</main>

{% endblock %}
