{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">

  	<h1 class="heading-medium">Declaration</h1>

  <div class="form-group">
  	<p class="form-label-bold label">I confirm that:</p>
  	<ul class="list list-bullet text">
  		<li>the information supplied is complete, true and correct to the best of my knowledge</li>
  		<li>I have read, understood and accept the terms and conditions and the  privacy policy of the Registered Traveller service</li>
  		<li>I will tell Border Force if my circumstances change, or if any new information relevant to my application becomes available</li>
  		<li>I have not been convicted of a criminal offence, including spent convictions, or cautioned by the police</li>
  </ul><br>
  	<p class="form-label-bold label">I understand that:</p>
  	<ul class="list list-bullet text">
  		<li>my details may in certain circumstances be passed to fraud prevention agencies to prevent and detect fraud and money laundering</li>
  		<li>other agencies may provide Border Force with information about me</li>
  		<li>there is a £50 charge for a renewal application and a £20 charge to update a passport</li>
  	</ul>
  </div>

    <div id="declaration-group" class="form-group">
      <div class="multiple-choice">
        <input id="declaration" type="checkbox" name="declaration" value="true">
        <label for="declaration">I understand and agree with the above declarations</label>
      </div>
    </div>
  	<div class="form-group">
  		<a class="button" href="payment-card-selection" id="continuebutton">Confirm</a>
  	</div>

</main>

{% endblock %}
