{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a class="link-back" href="javascript:history.go(-1)">Back</a>
      <a class="link-signout" href="/renewals-it4/">Sign out</a>
  </div>
    <div class="column-two-thirds">
      <h1 class="heading-medium">
        Will you be staying in the UK for more than 6 months?
      </h1>

      <form action="/RenewalBusinessWorkNovisa" method="get" class="form">
        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Select which of these applies to you
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="businesswork6months" value="Yes" {{ checked('businesswork6months','Yes') }}>
              <label for="yes">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="no" type="radio" name="businesswork6months" value="No" {{ checked('businesswork6months','No') }}>
              <label for="no">No</label>
            </div>


          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
