{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <form action="/renewals-it4/visa-changed" method="post" class="form">

          <h1 class="heading-medium">
            Has your name changed on your new passport?
          </h1>

          <div class="form-group">
                <fieldset>
                  <div class="multiple-choice" data-target="add-other-names">
                    <input id="yes" type="radio" name="othernames" value="">
                    <label for="yes">Yes</label>
                  </div>
                  <div class="panel panel-border-narrow js-hidden" id="add-other-names">
                    <h2 class="heading-medium">
                      What is your full name as written in your new passport?
                    </h2>
                    <fieldset>
                      <div class="form-group">
                        <label class="form-label-bold" for="address-line-1">First and middle names</label>
                        <input class="form-control" autocomplete="off" type="text" id="address-line-1" name="otherfirstname" value="">
                      </div>
                      <div class="form-group">
                        <label class="form-label-bold" for="address-line-1">Last name</label>
                        <input class="form-control" autocomplete="off" type="text" id="address-line-1" name="otherlastname" value="">
                      </div>
                    </fieldset>
                  </div>
                  <div class="multiple-choice">
                    <input id="no" type="radio" name="othernames" value="None" {{ checked('othernames','None') }}>
                    <label for="no">No</label>
                  </div>
                </fieldset>
              </div>


        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

    </div>
  </div>
</main>

{% endblock %}
