{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="form-group">
      <a class="link-signout" href="/renewals-it4/">Sign out</a>
    </div>
				<h1 class="heading-large">Renew or edit membership</h1>
				<p>You need to renew your membership before 7 September 2017. It costs £50 to renew.</p>
				<p>At the same time as renewing you can edit your details if they have changed.</p>
		</div>
</div>
<div class="form-group">
  <h2 class="heading-medium">	Gabriella Johnson</h2>
<table class="borderTop">
	<thead>
		<tr>
			<th colspan="2">
			</th>
			<th class="heading-small align-right">
				Cost to edit
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Passport number</td>
			<td>*****3123</td>
			<td class="align-right">£20</td>
		</tr>
		<tr>
			<td>Visa, permit or travel purpose</td>
			<td>Tier 2</td>
			<td class="align-right">No cost</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>gabriella.johnson@hotmail.com</td>
			<td class="align-right">No cost</td>
		</tr>
	</tbody>
</table>
</div>
<div class="form-group">

<a class="button" href="passport-changed.html">Renew membership &ndash; £50</a>

</div>
<a href="/renewals-it4/update-scenario/passport-changed.html">I just want to edit my details - I’ll renew another time</a>

</main>
{% endblock %}
