{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a class="link-back" href="javascript:history.go(-1)">Back</a>
      <a class="link-signout" href="/renewals-it4/">Sign out</a>
  </div>
    <div class="column-two-thirds">
      <h1 class="heading-medium">
        Do you have a visa?
      </h1>

      <form action="/study-gotvisa" method="get" class="form">
        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Select which of these applies to you
            </legend>

            <label for="yes" class="block-label">
              <input id="yes" type="radio" name="studyvisa" value="yes">
              Yes
            </label>

            <label for="no" class="block-label">
              <input id="no" type="radio" name="studyvisa" value="no">
              No
            </label>

          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
