{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="form-group">

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h1 class="heading-medium">
              Check your details before continuing
            </h1>
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Full name
          </td>
          <td>
            Gabriella Johnson<!--{{ data['otherfirstname'] }} {{ data['otherlastname'] }}-->
          </td>
          <td class="change-answer">
            <a href="/renewals-it4/passport-name">
              Change
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Passport country or territory
          </td>
          <td>
            {{ data['passportNationality'] }}
          </td>
          <td class="change-answer">
            <a href="/renewals-it4/passport-nationality">
              Change
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Passport number
          </td>
          <td>
            {{ data['passportnumber'] }}
          </td>
          <td class="change-answer">
            <a href="/renewals-it4/passport-number">
              Change
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Passport expiry date
          </td>
          <td>
            {{ data['expday'] }}/{{ data['expmonth'] }}/{{ data['expyear'] }}
          </td>
          <td class="change-answer">
            <a href="/renewals-it4/passport-expiry">
              Change
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Visa, permit or travel purpose
          </td>
          <td>
            Tier 2<!--{{ data['answer'] }}-->
          </td>
          <td class="change-answer">
            <a href="/renewals-it4/why-are-you-coming.html">
              Change <span class="visuallyhidden">/span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Email
          </td>
          <td>
            gabriella.johnson@hotmail.com<!--{{ data['email-check'] }}-->
          </td>
          <td class="change-answer">
            <a href="/renewals-it4/email">
              Change
            </a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="form-group">
    <a class="button" href="/renewals-it4/declaration" id="continuebutton">Confirm details</a>
  </div>
</main>

{% endblock %}
