{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a class="link-back" href="javascript:history.go(-1)">Back</a>
      <a class="link-signout" href="/renewals-it4/">Sign out</a>
  </div>
    <div class="column-two-thirds">


      <h1 class="heading-medium">
        Has your visa, permit or travel purpose changed?
      </h1>

      <form action="/RenewalsVisaChanged" method="get" class="form">


        <div class="form-group">
          <div class="multiple-choice">
            <input id="yes" type="radio" name="changed" value="Yes" {{ checked('changed','Yes') }}>
            <label for="yes">Yes</label>
          </div>
          <div class="multiple-choice">
            <input id="no" type="radio" name="changed" value="No" {{ checked('changed','No') }}>
            <label for="no">No</label>
          </div>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>


    </div>
  </div>
</main>
{% endblock %}
