{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-medium">
        What will you be doing in the UK?
      </h1>

      <form class="form">
        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Select which of these applies to you
            </legend>


            <div class="multiple-choice">
              <input id="attending" type="radio" name="whatwillyoubedoingpage" value="Attending a business conference, meeting or training" {{ checked('whatwillyoubedoingpage','Attending a business conference, meeting or training') }}>
              <label for="attending">Attending a business conference, meeting or training</label>
            </div>

            <div class="multiple-choice">
              <input id="carrying" type="radio" name="whatwillyoubedoingpage" value="Carrying out work or permitted engagements paid for by a UK based company" {{ checked('whatwillyoubedoingpage','Carrying out work or permitted engagements paid for by a UK based company') }}>
              <label for="carrying">Carrying out work or permitted engagements paid for by a UK based company</label>
            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <a class="button" href="/renewals-it4/email">Continue</a>
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
