
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Registered Traveller: faster entry through the UK border: Add children to your membership - GOV.UK</title>

    <!--[if gt IE 8]><!--><link href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" media="screen" rel="stylesheet">
<!--<![endif]-->
    <!--[if IE 6]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" media="print" rel="stylesheet">

    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js"></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-a0097118fe9226ce1ffde1ccfeb86c61be3607915046196c99f68b9548485ad3.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-0584457bce1046a6c7924dc2da53cef6b504a9ac27d7a36525e8162686823c88.css">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-7253c76b3fcadbc0df25a32a6b921cb2145dbf17560e7deafcfe1ef840e9f850.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-44b8e1e9f3fe90457d1626ee4930d5e0901eeda4abe80e38d841032125da19f8.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-56ae3f462b7da2bbba72e93ad3be72a6429bfcce3a938da245426374ac142f3a.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-63130f3b3fe879797c3ec86076d758bc14d0ea75658f6852aa7c990623a07174.css">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-2ba88ba5ccee32f76037092567f9a6d2e34535f25b6b0bfbbe6d2d6bed84f45c.css">
<!--<![endif]--><meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="xpkr862H3WNwlqb1I3/MSJ7zQYN7KiZ1+MFNIcFj9a3U3RTvuddUEpidm5oq2+pxUzQYhiqsRUrFmFyI+k9XQQ==">
<meta name="govuk:format" content="guide">
<meta name="govuk:schema-name" content="guide">
<meta name="govuk:analytics:organisations" content="&lt;OT554&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="guidance">
<meta name="description" content="Apply for the Registered Traveller service to get through UK border control faster and without filling in a landing card  ">
<meta name="govuk:content-id" content="0b120e15-3a2d-4ade-b5e2-7cddde69dc6c">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-a7a6e849c8855d0b0b0c0ebbc0027e7387f9e39a1aafc64317a5e3b6efc876c5.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-c6d1e0255b18453087396a6656295ace7e5078c903f2698fcd4cfb7c47953816.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-b00996b659cd38ecc3706324cc26355a5e4b2baba7e1f5a87565aec257e86b7d.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      </div>
    </header>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="guide" lang="en">



<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"3","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/visas-immigration" data-track-options='{"dimension28":"3","dimension29":"Visas and immigration"}' class="" aria-current="false" href="/browse/visas-immigration">Visas and immigration</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/visas-immigration/arriving-in-the-uk" data-track-options='{"dimension28":"3","dimension29":"Arriving in the UK"}' class="" aria-current="false" href="/browse/visas-immigration/arriving-in-the-uk">Arriving in the UK</a>
    </li>
  </ol>
</div>



<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-title length-average">
  <h1>Registered Traveller: faster entry through the UK border</h1>
</div>

      <aside class="part-navigation-container" role="complementary">
        <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
      <li>
        <a href="index">Using the Registered Traveller service</a>
      </li>
        <li>
          <a href="start2">Eligibility</a>
        </li>
        <li>
          <a href="start3">How to apply</a>
        </li>
    </ol>
    <ol class="column-half" start="4">
      <li>
        <a href="start4">Renew or update your membership</a>
      </li>
        <li>
          Add children to your membership
        </li>
    </ol>
</nav>

      </aside>

        <h1 class="part-title">
          5. Add children to your membership
        </h1>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>You can apply to add any of your children to your Registered Traveller membership.</p>

<p>Your children can only use this service if they travel with the parent who applied for them.</p>

<p>Any changes to your membership will also apply to your child’s membership. For example, if your membership expires, your child’s membership will expire at the same time.</p>

<p>You won’t be able to use the ePassport gates when you travel with your children.</p>

<p>When you travel together, you and your children:</p>

<ul>
  <li>can use the UK and EEA passport lanes</li>
  <li>don’t have to fill in a landing card</li>
</ul>

<h2 id="eligibility">Eligibility</h2>

<p>Your child must:</p>

<ul>
  <li>be aged 17 or under</li>
  <li>have an <a href="start2#eligible-passports">eligible passport</a>
</li>
  <li>have a visa, entry clearance or have visited the UK at least 4 times in the last 24 months</li>
</ul>

<h2 id="fee">Fee</h2>

<p>You’ll pay an administration fee of £20 for each child, plus £2 per month until the date your membership expires.</p>

<p>After you sign in and have entered your child’s date of birth, you’ll be told how much you need to pay.</p>

<p>You’ll get the membership fee back if your application is unsuccessful. You won’t get the £20 administration fee back.</p>

<h2 id="how-to-apply">How to apply</h2>

<p>You must <a href="/kids4/sign-in">apply and pay for each child separately</a>.</p>

<p>You’ll need:</p>

<ul>
  <li>your Registered Traveller number</li>
  <li>your child’s passport</li>
</ul>

<p>You’ll get a decision on your application within 10 working days.</p>

<p>If your application is successful, the first time you all travel to the UK you must:</p>

<ul>
  <li>go through the ‘other passports’ lane with your children</li>
  <li>fill in a landing card for them</li>
</ul>

<p>You may also need to prove the relationship between you and any children travelling with you, for example if you have a different surname.</p>

<p>You can do this with:</p>

<ul>
  <li>a birth or adoption certificate showing your relationship with the child</li>
  <li>a divorce or marriage certificate if you’re the parent but have a different surname to the child</li>
</ul>

<p>The immigration officer will then confirm if your child has been added to your membership. You’ll get a confirmation email within 48 hours.</p>

</div>


      <nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <ul class="group">
      <li class="previous-page">
        <a href="start4" rel="prev">
          <span class="pagination-part-title">
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewbox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
            <span class="pagination-label">Renew or update your membership</span>
        </a>
      </li>
  </ul>
</nav>



<div class="app-c-print-link">
  <a href="/registered-traveller/print" class="app-c-print-link__link" rel="alternate">
    Print entire guide
  </a>
</div>

  </div>
  <div class="column-third add-title-margin">
    <aside class="govuk-related-items" data-module="track-click" role="complementary">
      <h2 data-track-count="sidebarRelatedItemSection">
        Arriving in the UK
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/uk-border-control" data-track-options='{"dimension28":"4","dimension29":"Entering the UK"}' href="/uk-border-control">Entering the UK</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/bringing-cash-into-uk" data-track-options='{"dimension28":"4","dimension29":"Take cash in and out of the UK"}' href="/bringing-cash-into-uk">Take cash in and out of the UK</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/bringing-food-animals-plants-into-uk" data-track-options='{"dimension28":"4","dimension29":"Bringing food, animals or plants into the UK"}' href="/bringing-food-animals-plants-into-uk">Bringing food, animals or plants into the UK</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/browse/visas-immigration/arriving-in-the-uk" data-track-options='{"dimension28":"4","dimension29":"More"}' href="/browse/visas-immigration/arriving-in-the-uk">
                More
                  <span class="visuallyhidden">
                    in
                    Arriving in the UK
                  </span>
</a>            </li>
        </ul>
      </nav>
  </aside>

</div>

</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://draft-origin.publishing.service.gov.uk/registered-traveller/add-your-child?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhMzg2N2NkMS0yNmUwLTRkOWQtOTkyYy0wMTlkNWVkNjM3MWUifQ.sYOjQtZ6OzmKIzUCNLFAwuZKz9OKhsJc5RbGVqvPu6E">

          <input id="source" name="source" type="hidden" value="">


          <input id="page_owner" name="page_owner" type="hidden" value="">


        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-6281a3e06684d3ef80ec135b593bf58d4ee1bdc566aa4b4553e6ba466fc356d8.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-4dae75ddee14e4e900bb51549063f738dd9530c0116dd9b35b1761d3a358bf7e.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js"></script>
</body>
</html>
