{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/kids4/startpages/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
        </a>
        <!--
        <ul id="proposition-links">
          <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
          <li><a href="url-to-page-2">Navigation item #2</a></li>
        </ul>
        -->
      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <div class="footer-meta-inner">
    		<!-- footerLinks-->
    	 	<h2 class="visuallyhidden">Support links</h2>
    	<ul>
    		<li><a id="footer_about" href="https://www.faster-uk-entry.service.gov.uk/about" target="_blank">About</a></li>
    	  	<li><a id="footer_tandc" href="https://www.faster-uk-entry.service.gov.uk/termsAndConditions" target="_blank">Terms and conditions</a></li>
    	  	<li><a id="footer_privacypolicy" href="https://www.faster-uk-entry.service.gov.uk/privacyPolicy" target="_blank">Privacy policy</a></li>
    	  	<li><a id="footer_cookies" href="https://www.faster-uk-entry.service.gov.uk/cookies" target="_blank">Cookies</a></li>
    	</ul>
    </div>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
